@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4A312F;       /* Deep Chocolate Brown */
  --color-secondary: #F7F9FB;     /* Clean White / Light Gray */
  
  --accent-pink: #FBB9C2;         /* Creamy Pink Pale */
  --accent-mint: #B7E2BF;         /* Creamy Mint Pale */

  --color-cta: #D34079;           /* Rich Raspberry */
}

*{
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0;
  background: #001820;
  color: white;
  font-family: "Poppins", sans-serif;
}

main {
  padding-bottom: 100px; 
}
