@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4A312F;      
  --color-secondary: #F7F9FB;    
  --accent-pink: #FBB9C2;         
  --accent-mint: #B7E2BF;         
  --color-cta: #D34079;           
}


* {
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  
 
  color: #111827; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-bottom: 100px; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
